* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: rgb(242, 242, 242);
}

p, a, button {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 80px;
  line-height: 1.2;
}

main {
  padding: 30px 30px 0 30px;
  height: 100%;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .right-nav {
  display: flex;
  gap: 40px;
  width: 100%;
  justify-content: end;
  align-items: center;
}
nav .right-nav button {
  background-color: transparent;
  width: 150px;
  height: 50px;
}
nav .right-nav button:hover {
  background-color: #E3FD8F;
}
nav .right-nav-two {
  display: none;
}
nav .right-nav-two .menu-lines {
  width: 20px;
  height: 2px;
  background-color: black;
}
nav .left-nav {
  display: flex;
  align-items: center;
}
nav .left-nav .company-description {
  width: 50%;
}
nav .left-nav .company-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  padding-right: 15px;
  margin-right: 10px;
  border-right: 2px solid rgb(208, 205, 205);
}
nav .left-nav .company-logo .company-logo-circles {
  display: flex;
  margin-right: 10px;
  gap: 1px;
}
nav .left-nav .company-logo .company-logo-circles .company-logo-circle1 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(57, 57, 57);
}
nav .left-nav .company-logo .company-logo-circles .company-logo-circle2 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(193, 198, 198);
}

header {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  align-items: center;
  position: relative;
}
header .header-text {
  width: 80%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
header .header-text .header-subtext {
  margin-top: 20px;
  width: 60%;
  color: rgb(132, 132, 132);
}
header .header-text .header-subtext p {
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
}
header .header-buttons {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
header .header-buttons button {
  width: 150px;
  height: 50px;
  border: none;
}
header .header-buttons .header-button-one {
  background-color: #E7E8EC;
}
header .header-buttons .header-button-two {
  background-color: #000;
  color: white;
}

.tiles-section {
  display: flex;
  gap: 20px;
  width: 100%;
  height: 100%;
  margin-top: 40px;
}
.tiles-section .tiles-section-one {
  width: 20%;
  height: 50%;
  background-color: #000;
  border-radius: 30px;
  overflow: hidden;
}
.tiles-section .tiles-section-one img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.tiles-section .tiles-section-two {
  width: 20%;
  height: 50%;
  background-color: #E3FD8F;
  border-radius: 30px;
  overflow: hidden;
  padding: 15px 20px;
  position: relative;
}
.tiles-section .tiles-section-two h3 {
  font-size: 16px;
  font-weight: 600;
}
.tiles-section .tiles-section-two p {
  font-size: 16px;
  font-weight: 500;
  color: rgb(97, 96, 96);
  text-align: left;
}
.tiles-section .tiles-section-two p b {
  font-weight: 700;
  color: black;
}
.tiles-section .tiles-section-two .tiles-section-two-one {
  width: 100%;
  height: 100%;
  background-color: #000;
  border-radius: 30px;
  overflow: hidden;
  padding: 15px 20px;
  position: absolute;
  left: 0;
  top: 60px;
}
.tiles-section .tiles-section-two .tiles-section-two-one h3, .tiles-section .tiles-section-two .tiles-section-two-one b {
  color: white;
}
.tiles-section .tiles-section-two .tiles-section-two-two {
  width: 100%;
  height: 100%;
  background-color: #A5A394;
  border-radius: 30px;
  overflow: hidden;
  padding: 15px 20px;
  position: absolute;
  left: 0;
  top: 120px;
}
.tiles-section .tiles-section-two .tiles-section-two-two p {
  color: rgb(97, 96, 96);
}
.tiles-section .tiles-section-two .tiles-section-two-three {
  width: 100%;
  height: 100%;
  background-color: #E7E8EC;
  border-radius: 30px;
  overflow: hidden;
  padding: 15px 20px;
  position: absolute;
  left: 0;
  top: 180px;
  display: flex;
  justify-content: space-between;
}
.tiles-section .tiles-section-two .tiles-section-two-three p {
  font-size: 12px;
  margin-top: 15px;
}
.tiles-section .tiles-section-two .tiles-section-two-three .tiles-section-two-three-one {
  width: 50%;
}
.tiles-section .tiles-section-two .tiles-section-two-three .tiles-section-two-three-two {
  width: 32%;
  height: 23%;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  top: 7px;
}
.tiles-section .tiles-section-two .tiles-section-two-three .tiles-section-two-three-two i {
  font-size: 42px;
  color: rgb(145, 145, 145);
  font-weight: 300;
  position: relative;
  top: 5px;
}
.tiles-section .tiles-section-three {
  width: 20%;
  height: 50%;
  overflow: hidden;
  display: flex;
}
.tiles-section .tiles-section-three .tiles-section-three-one {
  width: 50%;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
}
.tiles-section .tiles-section-three .tiles-section-three-one img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  -o-object-position: -51px 0;
     object-position: -51px 0;
}
.tiles-section .tiles-section-three .tiles-section-three-two {
  width: 50%;
  height: 100%;
  border-radius: 30px;
  overflow: hidden;
}
.tiles-section .tiles-section-three .tiles-section-three-two img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  -o-object-position: -161px 0;
     object-position: -161px 0;
}
.tiles-section .tiles-section-four {
  width: 20%;
  height: 50%;
  overflow: hidden;
}
.tiles-section .tiles-section-four .tiles-section-four-top {
  height: 50%;
  width: 100%;
  background-color: #000;
  border-radius: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tiles-section .tiles-section-four .tiles-section-four-top h2 {
  font-size: 32px;
}
.tiles-section .tiles-section-four .tiles-section-four-top p {
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  color: rgb(132, 132, 132);
}
.tiles-section .tiles-section-four .tiles-section-four-down {
  height: 50%;
  width: 100%;
  display: flex;
}
.tiles-section .tiles-section-four .tiles-section-four-down .tiles-section-four-down-one {
  height: 100%;
  width: 50%;
  background-color: #E7E8EC;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tiles-section .tiles-section-four .tiles-section-four-down .tiles-section-four-down-one h2 {
  font-size: 32px;
}
.tiles-section .tiles-section-four .tiles-section-four-down .tiles-section-four-down-one p {
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  color: rgb(132, 132, 132);
}
.tiles-section .tiles-section-four .tiles-section-four-down .tiles-section-four-down-two {
  height: 100%;
  width: 50%;
  background-color: #E3FD8F;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tiles-section .tiles-section-four .tiles-section-four-down .tiles-section-four-down-two h2 {
  font-size: 32px;
}
.tiles-section .tiles-section-four .tiles-section-four-down .tiles-section-four-down-two p {
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
  color: rgb(132, 132, 132);
}
.tiles-section .tiles-section-five {
  width: 20%;
  height: 50%;
  border-radius: 30px;
  overflow: hidden;
}
.tiles-section .tiles-section-five img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.tiles-section .tiles-section-five .tiles-section-five-one {
  width: 100%;
  height: 50%;
  border-radius: 70px;
  overflow: hidden;
}
.tiles-section .tiles-section-five .tiles-section-five-two {
  width: 100%;
  height: 50%;
  border-radius: 70px;
  overflow: hidden;
}
.tiles-section .tiles-section-five .tiles-section-five-two img {
  -o-object-position: 0px -139px;
     object-position: 0px -139px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  nav .right-nav {
    display: none;
  }
  nav .right-nav-two {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  nav .company-description {
    display: none;
  }
  nav .company-logo {
    padding: 0px !important;
    margin: 0px !important;
    border: none !important;
  }
  header .header-subtext {
    width: 100%;
  }
  header .header-buttons {
    flex-direction: column;
  }
  header h1 {
    font-size: 44px;
  }
  .tiles-section {
    display: block;
  }
  .tiles-section .tiles-section-one,
  .tiles-section .tiles-section-two,
  .tiles-section .tiles-section-three,
  .tiles-section .tiles-section-four,
  .tiles-section .tiles-section-five {
    width: 100%;
    margin-top: 20px;
  }
  .tiles-section .tiles-section-two {
    height: 60%;
  }
  .tiles-section .tiles-section-two .tiles-section-two-three-two {
    width: 29% !important;
  }
  .tiles-section .tiles-section-three .tiles-section-three-one img {
    -o-object-position: -32px 0;
       object-position: -32px 0;
  }
  .tiles-section .tiles-section-five .tiles-section-five-one img {
    -o-object-position: 0 -22px;
       object-position: 0 -22px;
  }
}/*# sourceMappingURL=styles.css.map */